@import "function-em";
@import "size";
@import "colorscheme";
@import "inline-list";

input[type=button],
input[type=submit],
button {
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  line-height: $default-line-height;
  padding: 0.1em em($ratio-golden);
  border: solid 1px;
  border-radius: 4px;

  &[disabled] {
    cursor: not-allowed;
    background-color: desaturate(darken($bg, 15%), 40%);
    color: desaturate(darken($fg, 15%), 40%);
  }

  &:not([disabled]) {
    background-color: $bg;
    color: $fg;

    &:hover
    &:focus {
      background-color: desaturate( darken( $bg, 10% ), 40%);
    }

    &.primary {
      $button-bg: $blue;

      background-color: $button-bg;
      color: $bg;

      &:hover,
      &:focus {
        background-color: darken( $button-bg, 10% );
      }
    }
  }
}

form {
  ul.actions {
    @extend %inline-list;
  }

  dl.controls {
    dt, dd {
      display: inline;
      margin: 0;
      white-space: nowrap;
    }

    dd + dt::before {
      content: "\000a";
      white-space: pre;
    }
  }
}
