@font-face {
  font-family: "YuGo";
  src: local("游ゴシック"), local("Yu Gothic"), local("YuGothic");
  font-weight: normal;
}

@font-face {
  font-family: "YuGo";
  src: local("游ゴシック Light"), local("Yu Gothic Light"), local("YuGothic");
  font-weight: 200;
}

@font-face {
  font-family: "YuMin";
  src: local("游明朝"), local("Yu Mincho"), local("YuMincho");
  font-weight: normal;
}

@font-face {
  font-family: "YuGo";
  src: local("游明朝 Light"), local("Yu Mincho Light"), local("YuMincho");
  font-weight: 200;
}
